{% extends 'paginas/base.html' %}

{% block titulo %}
    <title>Deletar</title>
{% endblock %}

{% block conteudo %}
<div class="modal-fade" id="meuModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-tittle">Excluir</h5>
            </div>
                    
            <div class="modal-body">
                Deseja excluir {{ object }}?
               
            </div>

            <div class="modal-footer">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                <input type="submit" value="Deletar" class="btn btn-danger">
                <a href="{% url 'dev:listar-dev' %}" class="btn btn-secondary">Fechar</a>
            </div>
                </form>

        </div>
    </div>
</div>
{% endblock %}