{% extends 'paginas/base.html' %}
{% block conteudo %}
    {% for dev in object_list %}
    <br>
    <br>
        {% if dev.ativo %}
            <label><strong>Nome: </strong></label>{{ dev.nome }}
            <br>
            <label><strong>E-mail: </strong></label>{{ dev.email }}
            <br>
            <label><strong>Linguagens: </strong></label>
            {% for l in dev.linguagem.all %}
                {{ l.nome }}
            {% endfor %}
            <br>
            <label><strong>Framework: </strong></label>
            {% for l in dev.framework.all %}
                {{ l.nome }}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}