<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista</title>
</head>
<body>
    {% for dev in object_list %}
    <br>
    <br>
        {% if dev.ativo %}
            <label><strong>Nome: </strong></label>{{ dev.nome }}
            <br>
            <label><strong>E-mail: </strong></label>{{ dev.email }}
            <br>
            <label><strong>Linguagens: </strong></label>
            {% for l in dev.linguagem.all %}
                {{ l.nome }}
            {% endfor %}
            <br>
            <label><strong>Framework: </strong></label>
            {% for l in dev.framework.all %}
                {{ l.nome }}
            {% endfor %}
        {% endif %}
    {% endfor %}
</body>
</html>