{% extends 'paginas/base.html' %}

{% block titulo %}
<title>Lista</title>
{% endblock %}

{% block conteudo %}

<div class="bd-example">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">E-mail</th>
        <th scope="col">Linguagens</th>
        <th scope="col">Frameworks</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for dev in object_list %}
      {% if dev.ativo %}
      <tr>
        <td>{{ dev.nome }}</td>
        <td>{{ dev.email }}</td>
        <td>
          {% for l in dev.linguagem.all %}
          <br>
          {{ l.nome }}
          {% endfor %}
        </td>
        <td>
          {% for l in dev.framework.all %}
          <br>
          {{ l.nome }}
          {% endfor %}
        </td>
        <td>
          <a href="/dev/alterar/{{ dev.id }}" class="btn btn-warning btn-sm">Alterar</a>
          <a href="/de/deletar/{{ dev.id }}" class="btn btn-danger btn-sm">Deletar</a>
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}